body{
    margin: 0px;
    padding: 0px;

}


/* Style for the sticky header */
#sticky-header {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    z-index: 1000;
    
}

.menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
}

ul.nav.justify-content-center {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 3%;
    margin-right: 4%;
}
li.nav-item {
    list-style: none;
}

nav.menu {
    background: white;
    border-radius: 5px;
}

#content {
    height: 2000px; /* Add enough content to make scrolling necessary */
}

/* Style for the hamburger menu button */
#menu-toggle {
    display: none; /* Initially hidden on larger screens */
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    #menu-toggle {
        display: block; /* Display the hamburger button on mobile screens */
    }
    
    #nav {
        display: none; /* Hide the navigation menu by default on mobile screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    #nav.active {
        display: flex; /* Display the navigation menu when active */
    }

    #nav a {
        margin: 10px 0;
    }
}
