body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


/* Style for the sticky header */
#sticky-header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    z-index: 1000;
    
}

.menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
}

ul.nav.justify-content-center {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 3%;
    margin-right: 4%;
}
li.nav-item {
    list-style: none;
}

nav.menu {
    background: white;
    border-radius: 5px;
}

li.nav-item a {
    text-decoration-line: none;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color: black;
}


/* Style for the hamburger menu button */
#menu-toggle {
    display: none; /* Initially hidden on larger screens */
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
}


/* hero sections */
.hero_section {
    box-shadow: inset 0 0 0 1000px rgb(100 112 236 / 91%);
    background-image: url("/assets/images/background.png");
    min-height: 800px;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

.image_content {
    width: 40%;
    display: flex;
    justify-content: end;
}
.text_content {
    width: 60%;
}
.content {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 50px;
}
img.hero_section_image {
    border-radius: 6px;
    width:100%
}
h1.heading-h1 {
    color: white;
    font-size: 35px;
    font-family: 'Poppins';
    line-height: 45px;
    font-weight: 600;
    margin: 0px;
}

p.paragraph {
    font-size: 14px;
    color: white;
}
button.large_button {
    border-radius: 35px;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
}
button.small_button {
    width: 100px;
    background: yellow;
    border-radius: 20px;
    height: 30px;
    border: none;
    color: black;
    margin-bottom: 5px;
}
button.large_button:hover {
    background: yellow;
    border-color: yellow;
}
li.nav-item {
    padding: 5px 10px;
}
li.nav-item:hover {
    background: yellow;
}

section.our_team p.paragraph {
    color: black;
}

.View.All {
    display: flex;
    align-items: center;
    gap: 20px;
}
.small_image {
    display: flex;
}
.small_image img {
    width: 100%;
    height: 42px;
    border-radius: 44%;
}
section.our_team button.large_button {
    background: blue;
    width: 170px;
    height: 50px;
}
span.counting {
    font-size: 14px;
    color: #3695cf;
    font-weight: 500;
}
section.our_team {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* Media query for mobile screens */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
        z-index: 5;
        position: relative;
        background: #222b2b;
        margin: 0 20px 0 auto;
    }
    .menu {
        display: none; /* Hide the navigation menu by default on mobile screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 4;
    }

    nav.menu.active {
        display: block;
        padding-top: 35px;
    }
    .nav a {
        margin: 10px 0;
    }

    nav.menu.active ul.nav.justify-content-center {
        display: block;
        margin: 0px;
        width: 100%;
        padding: 0pc;
    }
    nav.menu.active li.nav-item {
        margin-bottom: 10px;
    }

    #sticky-header{
        top:0px;
    }


}



