body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


/* Style for the sticky header */
#sticky-header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    z-index: 1000;
    
}

.menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
}

ul.nav.justify-content-center {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 3%;
    margin-right: 4%;
}
li.nav-item {
    list-style: none;
}

nav.menu {
    background: white;
    border-radius: 5px;
}

li.nav-item a {
    text-decoration-line: none;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color: black;
}


/* Style for the hamburger menu button */
#menu-toggle {
    display: none; /* Initially hidden on larger screens */
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
}


/* hero sections */
.hero_section {
    box-shadow: inset 0 0 0 1000px rgb(100 112 236 / 82%);
    background-image: url("/assets/images/background.png");
    min-height: 800px;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

.image_content {
    width: 40%;
    display: flex;
    justify-content: end;
}
.text_content {
    width: 60%;
}
.content {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}
img.hero_section_image {
    border-radius: 6px;
}
h1.heading-h1 {
    color: white;
    font-size: 35px;
    font-family: 'Poppins';
    line-height: 45px;
    font-weight: 600;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
        z-index: 5;
        position: relative;
        background: #222b2b;
        margin: 0 20px 0 auto;
    }
    .menu {
        display: none; /* Hide the navigation menu by default on mobile screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 4;
    }

    nav.menu.active {
        display: block;
        padding-top: 35px;
    }
    .nav a {
        margin: 10px 0;
    }

    nav.menu.active ul.nav.justify-content-center {
        display: block;
        margin: 0px;
        width: 100%;
        padding: 0pc;
    }
    nav.menu.active li.nav-item {
        margin-bottom: 10px;
    }

    #sticky-header{
        top:0px;
    }


}



